.main-form{
    background-image: url('../../assets/images/p4.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#hr{
    background-color: #ffff;
}
.input-fields{
    border-radius: 50px;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
}
.btn{
    border-radius: 50px;
}
.table {
    opacity: 0.6;
}