/* ===================================
========= LogIn Page  */
.form-container{
  background-image: url('../../assets/images/footer.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#hr{
  background-color: #ffff;
}
.inputs{
  border-radius: 50px;
  font-weight: 600;
  font-size: larger;
  font-style: italic;
}
.btn{
  border-radius: 50px;
}